
	<!-- loader -->
<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">

  <div class="topbar">
			<div class="content-topbar container h-100">
				<div class="left-topbar">
					<span class="left-topbar-item flex-wr-s-c">
						<h2 style="color: white;">
							Tel :
						</h2>

						<p>+222 45 24 63 88 </p>
					</span>
				</div>
				<div class="left-topbar">
					<span class="left-topbar-item flex-wr-s-c">
						<h2 style="color: white;">
							Mail:
						</h2>
						<p>	groupedescartes@gmail.com </p>
					</span>
				</div>

				<div class="right-topbar">
					<a href="#">
						<span class="fab fa-facebook-f"></span>
					</a>

					<a href="#">
						<span class="fab fa-twitter"></span>
					</a>

					<a href="#">
						<span class="fab fa-pinterest-p"></span>
					</a>

					<a href="#">
						<span class="fab fa-vimeo-v"></span>
					</a>

					<a href="#">
						<span class="fab fa-youtube"></span>
					</a>
				</div>
			</div>
		</div>
  	</div>

    <!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="assets/images/icon.jpg" alt=""></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

    		<!-- Menu Mobile -->
<div class="menu-mobile">
	<ul class="topbar-mobile">
		<li class="left-topbar">
			<div class="left-topbar">
				<span class="left-topbar-item flex-wr-s-c">
					<h1 style="color: white;">
						Tel :
					</h1>

					<p>+222 45 24 63 88 </p>
				</span>
			</div>
			<div class="left-topbar-item">
				<span class="left-topbar-item flex-wr-s-c">
					<h2 style="color: white;">
						Mail:
					</h2>

					<p>groupedescartes@gmail.com </p>
				</span>
			</div>
		</li>
		<li class="right-topbar">
			<a href="#">
				<span class="fab fa-facebook-f"></span>
			</a>

			<a href="#">
				<span class="fab fa-twitter"></span>
			</a>

			<a href="#">
				<span class="fab fa-pinterest-p"></span>
			</a>

			<a href="#">
				<span class="fab fa-vimeo-v"></span>
			</a>

			<a href="#">
				<span class="fab fa-youtube"></span>
			</a>
		</li>
	</ul>

	<ul class="main-menu-m">
		<li>
			<a href="index.html">Acceuil</a>
			<span class="arrow-main-menu-m">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</span>
		</li>

		<li>
			<a href="news2.html">News</a>
		</li>

		<li>
			<a href="about.html">A propos</a>
		</li>

		<li>
			<a href="contact.html">Contact</a>
		</li>

		<li>
			<a href="diplome.html">Diplomes</a>
		</li>
	
	</ul>
</div>

<!--  -->
		<div class="wrap-logo container">
			<!-- Logo desktop -->		
			<div class="logo">
				<a href="index.html"><img src="assets/images/icon.jpg" alt="LOGO"  style="width:75px;height:75px;"></a>
			</div>	

			<!-- Banner -->
			<div class="banner-header">
				<a href="#"><img src="assets/images/images/banner-01.jpg" alt="IMG"></a>
			</div>
		</div>	

    	<!--  -->
		<div class="wrap-main-nav">
			<div class="main-nav">
				<!-- Menu desktop -->
				<nav class="menu-desktop">
					<a class="logo-stick" href="index.html">
						<img src="assets/images/icon.jpg" alt="LOGO">
					</a>
					<ul class="main-menu">
						<li class="main-menu-active">
							<a href="index.html">ACCEUIL</a>
						</li>

						

						<li>
							<a href="#">IGED</a>
							<ul class="sub-menu">
								<li><a href="presentation.html">PRESENTATION</a></li>
								<li><a href="">ORGANISATION</a></li>
								<li><a href="news2.html">NEWS</a></li>
								<li><a href="">MEDIA</a></li>
							</ul>
						</li>

						<li>
							<a href="#">DIPLÔME</a>
							<ul class="sub-menu">
								<li><a href="about.html">NATIONAUX</a>
									<ul class="sub-menu">
										<li><a href="cap.html">CAP </a></li>
										<li><a href="bt.html">BT</a></li>
									</ul>
								</li>
								<li><a href="about.html">INTERNATIONAUX</a>
									<ul class="sub-menu">
										<li><a href="bts.html">BTS </a></li>
										<li><a href="vae.html">VAE</a></li>
									</ul>
								</li>
							</ul>
						</li>

						<li>
							<a href="#">SESSION DE FORMATION</a>
							<ul class="sub-menu">
								<li><a href="">LANGUE</a>
									<ul class="sub-menu">
										<li><a href="">ANGLAIS </a></li>
										<li><a href="">ARABE</a></li>
										<li><a href="">FRANÇAIS</a></li>
									</ul>
								</li>
								<li><a href="">INFORMATIQUE</a>
									<ul class="sub-menu">
										<li><a href="">BUREAUTIQUE </a></li>
									</ul>
								</li>
							</ul>
						</li>

						<li>
							<a href="#">INFO</a>
							<ul class="sub-menu">
								<li><a href="about.html">A PROPOS DE NOUS </a></li>
								<li><a href="contact.html">CONTACT</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
</header>


